body {
    font-family: 'Brush Script MT', cursive;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3px;
}
footer {
    background-color: #333;
    color: white;
    text-align: right;
    padding: 3px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.menu {
    flex: 1;
    background-color: white;
    padding: 20px;
}

.cart {
    flex: 1;
    background-color: #f5f5f5;
    padding: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
    
}

li {
    margin: 20px 0;
    font-weight: bold;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #555;
}

/* Add this CSS to align the "Add to Cart" buttons to the right */
.menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu button {
    margin-left: 10px;
}
/*calculator*/
/* Add this CSS to style and position the calculator */
.calculator {
    position: absolute;
    bottom: 40px;
    right: 10px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    width: 250px;
}

.calculator h2 {
    font-size: 18px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.calculator-buttons button {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.calculator-buttons button:hover {
    background-color: #f0f0f0;
}

#calculator-display {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
}
